{% extends 'base.html.twig' %}

{% block title %}Conseiller{% endblock %}

{% block body %}

    {% include "back/menu_back.html.twig" %}

        <h1 class="text-center text-info m-5">Modification Conseiller</h1>

        {{ include('back/conseiller/_form.html.twig') }}

        {{ include('back/conseiller/_delete_form.html.twig') }}

        </div>
    </div>

{% endblock %}
