* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #e8eceb;
}
nav {
	height: 75px;
}

#logo {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 150px;
	height: 150px;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0; /* Stay at the top */
	left: 0;
}
.photo {
	background-image: url("../../img/NY_jour.jpg");
	background-size: cover;
	background-position-y: center;
	height: 500px;
}
.accroche {
	background-color: rgba(0, 0, 0, 0.75);
}

.conseiller {
	border-radius: 25px;
}

/* *********************************************************************BACK */
.container_back {
}
.menu_lateral {
	background-color: gainsboro;
	width: 200px;
	height: 720px;
}

.table_index {
	border: solid 2px slategray;
}
.table_index th {
	background-color: gainsboro;
	border: solid 1px slategray;
}
.table_index td {
	border: solid 1px slategray;
}
