{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
{% include "back/menu_back.html.twig" %}

    <div class="col-6 mx-auto">
        <h1 class="text-center text-info m-5">Nouvelle Destination</h1>

        {{ include('back/destination/_form.html.twig') }}
    </div>

</div></div>
{% endblock %}
