{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-warning text-light rounded-pill mb-3 fw-bold">{{ button_label|default('Inscription') }}</button>
    </div>
{{ form_end(form) }}
