{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-fluid text-center col-8">
    
        <h1>Inscription</h1>
        {{ include('front/_form.html.twig') }}

    </div>
{% endblock %}
