{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="col-6 mx-auto">
    <h1 class="text-center">Reservez en Ligne</h1>
    {{ include('front/_form_reservation.html.twig') }}

    
</div>
{% endblock %}

