{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
{% include "back/menu_back.html.twig" %}

    <h1 class="text-center text-info m-5">Création d'un Produit</h1>

{{ include('back/produit/_form.html.twig') }} 

    </div></div>
{% endblock %}
