{% extends 'base.html.twig' %}

{% block title %}Etapes{% endblock %}

{% block body %}
    <h1>Création d'Etape</h1>

    {{ include('back/etape/_form.html.twig') }}

    <a href="{{ path('app_etape_index') }}">Retour à la liste des étapes</a>
{% endblock %}
